@import 'animate.css';

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.active svg {
    color: rgb(250 204 21) !important;
}

.name-logo {
    position: relative;
    display: inline-block;
    color: rgb(250 204 21);
    margin: 0 14px;

    animation: tada 1s linear both;
    animation-delay: 1s;
    z-index: -1;
}
@media (max-width: 900px) {
    .name-logo {
        margin: 0 6px;
    }
}
.name-logo span {
    font-family: 'Rock Salt', cursive;
    animation: fadeIn 0.3s 0.2s linear both;
}

.name-logo::after {
    content: '';
    display: block;
    height: 12rem;
    width: 12rem;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 73%;
    left: -1.9rem;
    margin-top: -7rem;
    z-index: -1;
}


.card {
    animation: fadeInUp 0.6s ease-out both;
}
.card-1 {
    animation-delay: 0.4s;
}
.card-2 {
    animation-delay: 0.8s;
}


.appx {
    color: red;
}
.appx {
    color: green;
}